/* 
    Document   : apogado-css
    Created on : Dec 2, 2013, 11:37:37 PM
    Author     : Gabriel Vince, Apogado
    Description:
        Basic CSS - titles
*/

.pageTitle {
    font-size: x-large;
    text-align: center;
    margin-bottom: 70px;
}

#messages {
    color: red;
    font-weight: bold;
    margin-bottom: 50px;
    font-size: large;
}

#pagCont {
    margin-top: 10px;   
    margin-bottom: 10px;
}

h3 {
   font-weight: bold;
    font-size: 16px;
    line-spacing: 2.5;
}

 #mainTablePaginator {
    margin-top: 10px;   
    margin-bottom: 10px;
}

.logo {
    float: right;
    border: 0;
}