    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Talend Service Activity Monitor UI</title>
        <link rel="stylesheet" href="apogado-css.css" />
        <script type="text/javascript" src="http://yui.yahooapis.com/3.14.0/build/yui/yui-min.js"></script>
    </head>
    <body>
        <div class="logo"><a href='http://www.apogado.com' target="_blank"><img src="apogado.gif"/></a></div>
        <div class="pageTitle">Talend ESB Service Activity Monitor - UI</div>
        <div id="messages"></div>
